Checks: '
  bugprone-*,
  cert-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
'
